@import "/src/styles/variables.scss";

.body {
  max-width: $max-width;
  height: max-content;
  padding: 14px;

  .title {
    width: 100%;
  }
}

.table {
  width: 100%;
  box-shadow: none;

  tr:nth-child(even) {
    background: $white;
  }

  tr:nth-child(odd) {
    background: $no-white-table;
  }
}

.place-div {
  justify-content: center;
  display: flex;
}

.img-arrow {
  margin-inline: 11px;
}

.mat-card-actions {
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;

  .show-button {
    background: $white;
    color: $light-blue;
    height: 36px;
    margin-bottom: 16px;
    border-radius: 0 !important;
  }
}

.button-action {
  width: 80px;
}

.demo-row-is-clicked .mat-cell {
  color: $primary-color-blue !important;
  background: rgba(71, 167, 255, 0.2) !important;
}

.date-div{
  margin-inline: 15px;
}
