<mat-card class="body">
  <mat-card-header>
    <mat-card-title class="title">
      {{'ListOfFlight.Title' | translate}}</mat-card-title>
  </mat-card-header>
  <table mat-table
         *ngIf="$data | async; let dataS"
         [dataSource]="dataS"
         class="table mat-elevation-z8">

    <ng-container matColumnDef="place">
      <td mat-cell
          *matCellDef="let element">
        <div class="place-div">
          {{element.place.departure}}
          <img class="img-arrow"
               src="/assets/icon/arrow-left-right.svg">
          {{element.place.arrival}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <td mat-cell
          *matCellDef="let element">

        <div class="date-div">
          {{element.data.arrive | date:'yyyy-MM-dd, hh:mm'}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <td mat-cell
          *matCellDef="let element">
        <button mat-icon-button>
          <img class="img-arrow"
               src="/assets/icon/arrow-right-circle-black.svg">
        </button>
      </td>
    </ng-container>

    <tr mat-row
        (click)="selecte(row)"
        [class.demo-row-is-clicked]="clickedRows == row"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-card-actions>
    <button class="show-button"
            mat-button>
      {{'ListOfFlight.LoadMore' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
