@import "/src/styles/variables.scss";
@import "/src/styles.scss";

.body {
  max-width: $max-width;
  height: max-content;
  padding: 14px;

  .title {
    width: 100%;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.img-arrow {
  margin-inline: 10px;
  font-weight: 700;
}

.test {
  display: inline;
}

.fill-space {
  display: inline-block;
  width: 16px;

  @media (max-width: $x-small-screen) {
    width: 0;
  }
}

.div-field {
  margin-bottom: 20px;
  display: inline-block;
}

.span-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: $primary-color-blue;
}

.mat-labelaa {
  top: 0;
  margin-top: 20px;
}

.title-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  margin-bottom: 4px;
}

.mat-form-field {
  width: 200px;
  height: 36px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}

.mat-card-actions {
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;
}

.confirm-button {
  background: $light-blue;
  color: $white;
  height: 36px;
  margin-bottom: 16px;
  border-radius: 0 !important;
}

.confirm-butto :disabled {
  color: $white;
}

.reservation-form {
  @media (max-width: $x-small-screen) {
    justify-content: center;
    display: grid;
  }
}
