<mat-toolbar class="navbar">

  <mat-toolbar-row class="bottom-row">
    <div class="container">
      <div class="nav-section">
        <nav class="left-button">
          <app-button-nav
          [routerLink]="['/']">
            <p>{{'Navbar.Flights' | translate}}</p>
          </app-button-nav>
        </nav>
        <nav class="left-button">
          <app-button-nav
          [routerLink]="['/']">
            <p>{{'Navbar.Reservation' | translate}}</p>
          </app-button-nav>
        </nav>
        <span class="fill-remaining-space"></span>

        <div class="nav-bar-menu">
          <app-button-nav class="shop-button"
          [routerLink]="['/basket-flights']">
            <mat-icon [matBadge]="countOfFlight$ | async ">shopping_cart</mat-icon>

          </app-button-nav>

          <app-button-nav class="profile-button">
            <span class="text-span">JAN KOWALSKI</span>
            <img src="/assets/icon/account-circle-outline.svg">
          </app-button-nav>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #loginButton>
  <button [disableRipple]="true"
          class="menu-btn-logout"
          mat-button>
    <mat-icon inline="true">account_circle</mat-icon>
    <span class="text-btn">{{'Navbar.Login' | translate}}</span>
  </button>
</ng-template>
